modules = ["nodejs-with-prybar-18", "web", "nodejs-20"]
run = "npm start i"
[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm start i"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 4321
externalPort = 3000
